body {
    padding: 0px !important;
    margin: 0px !important;
}

.logo {
    width: 40% !important;
}

.container {
    height: 100vh !important;
    box-sizing: border-box !important;
}

.viewPortHeight {
    height: 100vh;
}

.nav-space {
    padding: 0px !important;
}

.left-login {
    text-align-last: left !important;
    /* color: #d7bcc1; */

}

.refresh {
    text-decoration: none;
    color: #b81515;
    /* color: #ed9292; */

}

#shortText {
    background: #eaeaea;
    max-width: 200px;
    max-height: 50px;
    display: inline-block;
    overflow: scroll;
}

#shortText_log {
    background: #eaeaea;
    max-width: 700px;
    max-height: 200px;
    display: block;
    overflow: scroll;
}